.back_styles {
  width: 100%;
  min-height: 1045px;
  background-color: #333333;
}


.h1_m{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 150px;
}