.back_movi{
    width: 100%;
    min-height: 1045px;
    background-image: url(../../Images/13453.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
}


.card_body{
    width: 18rem;
}

.img_size{
    width: 200px;
    height: 400px;
}
